.slds-m-around_medium{
    border: 1px solid black;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    width: 300px;
    background-color: rgb(234, 223, 243);
}

h1 {
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    text-align: center;
}



